imbalanced-learn==0.12.4
transformers==4.46.0
transformers[torch]==4.46.0
torch==2.5.0
datasets==3.0.2
keras==3.6.0
tf_keras==2.18.0
matplotlib==3.9.2
pandas==2.2.3
python-dotenv==1.0.1
scikit-learn==1.5.2
tensorflow==2.18.0
python-telegram-bot==21.6
fastapi[standard]==0.115.4